<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="css/common.css">
  <link rel="stylesheet" type="text/css" href="css/module_icon.css">
  <link rel="stylesheet" type="text/css" href="css/login.css">

  <script src="/jslib/fat.js"></script>
  <script src="/jslib/angular.min.js"></script>
  <script src="/js/ngDraggable.js"></script>

  <title>后台管理员登录页面</title>
</head>
<body ng-app="app" ng-controller="adminController">
<div class="title">
  <h1>后台管理员登录</h1>
</div>
<form class="login-part" method="post" action="#">
  <label class="ic-input-box">
    <span class="ic ic-user-name"></span>
    <input ng-model="username" type="text" placeholder="账户"/>
  </label>
  <label class="ic-input-box">
    <span class="ic ic-user-pwd"></span>
    <input ng-model="password" type="password" placeholder="密码"/>
  </label>

  <div class="code-box">
    <label class="ic-input-box">
      <input ng-model="verifyCode" type="text" placeholder="验证码"/>
    </label>
    <img class="code" src="images/yanzhen.png" height="45" width="114">
  </div>
  <input ng-click="login()" type="button" class="btn" id="btn" value="登录"/>
</form>

<script type="application/javascript">


  app = angular.module("app", [], function ($httpProvider) {
        // Use x-www-form-urlencoded Content-Type
        $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';

        /**
         * The workhorse; converts an object to x-www-form-urlencoded serialization.
         * @param {Object} obj
         * @return {String}
         */
        var param = function (obj) {
          var query = '', name, value, fullSubName, subName, subValue, innerObj, i;

          for (name in obj) {
            value = obj[name];

            if (value instanceof Array) {
              for (i = 0; i < value.length; ++i) {
                subValue = value[i];
                fullSubName = name + '[' + i + ']';
                innerObj = {};
                innerObj[fullSubName] = subValue;
                query += param(innerObj) + '&';
              }
            }
            else if (value instanceof Object) {
              for (subName in value) {
                subValue = value[subName];
                fullSubName = name + '[' + subName + ']';
                innerObj = {};
                innerObj[fullSubName] = subValue;
                query += param(innerObj) + '&';
              }
            }
            else if (value !== undefined && value !== null)
              query += encodeURIComponent(name) + '=' + encodeURIComponent(value) + '&';
          }

          return query.length ? query.substr(0, query.length - 1) : query;
        };

        // Override $http service's default transformRequest
        $httpProvider.defaults.transformRequest = [function (data) {
          return angular.isObject(data) && String(data) !== '[object File]' ? param(data) : data;
        }];
      }
  );


  app.controller("adminController", function ($scope, $http) {

    $scope.login = function () {
      var login = {};
      login.username = $scope.username;
      login.password = $scope.password;
      login.verifyCode = $scope.verifyCode;

      console.log(login)
      $http.post("/admin/login.do", login)
          .success(function (result) {
            if (result.code != 0) {
              alert(result.desc);
            } else {
              window.location.href = '/admin/index.html';
            }
          })
          .error(function (result) {
            alert("失败");
          });
    };


    $http.get("/task/show.do?type=0")//收纳箱
        .success(function (response) {
          $scope.acceptList = response.taskList;
        });
    $scope.isDelayTask = function (task) {
      if (task.date < $scope.currentDate.format("yyyy-MM-dd")) {
        return true;
      }
      return false;
    };
  });

</script>
</body>
</html>