<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="css/common.css">
  <link rel="stylesheet" type="text/css" href="css/module_icon.css">
  <link rel="stylesheet" type="text/css" href="css/login.css">

  <script src="/jslib/fat.js"></script>
  <script src="/jslib/angular.min.js"></script>
  <script src="/js/ngDraggable.js"></script>

  <title>后台管理员登录页面</title>
</head>
<body ng-app="app" ng-controller="adminController">
<div class="title">
  <h1>后台管理员登录</h1>
</div>
<form class="login-part" method="post" action="#">
  <label class="ic-input-box">
    <span class="ic ic-user-name"></span>
    <input ng-model="username" type="text" placeholder="账户"/>
  </label>
  <label class="ic-input-box">
    <span class="ic ic-user-pwd"></span>
    <input ng-model="password" type="password" placeholder="密码"/>
  </label>

  <div class="code-box">
    <label class="ic-input-box">
      <input ng-model="verifyCode" type="text" placeholder="验证码"/>
    </label>
    <img class="code" src="images/yanzhen.png" height="45" width="114">
  </div>
  <input ng-click="login()" type="button" class="btn" id="btn" value="登录"/>
</form>

<script type="application/javascript" src="/js/admin.js">
</script>
</body>
</html>