<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">

  <title>看板</title>
  <link href="/css/board.css" type="text/css" rel="stylesheet">
  <link href="/css/calendar.css" rel="stylesheet" type="text/css">
  <script src="/jslib/fat.js"></script>
  <script src="/jslib/angular.min.js"></script>

  <script src="/js/ngDraggable.js"></script>
</head>
<body ng-app="app" ng-controller="todoController">
<div class="top" ng-controller="commonController">
  <img class="top-logo" src="/images/logo_03.png">

  <div class="top-right">
    <ul>
      <a href="/todo/index.html">
        <li><img src="/images/rc1.png">

          <p>日程</p></li>
      </a>
      <a href="/log/index.html">
        <li><img src="/images/rz1.png">

          <p>日志</p></li>
      </a>
      <a href="/board/index.html">
        <li class="currentBox"><img src="/images/kb2.png">

          <p>看板</p></li>
      </a>
      <a href="/team/index.html">
        <li><img src="/images/ts1.png">

          <p>同事</p></li>
      </a>
    </ul>
    <div class="userDetail">
      <img class="head" src={{self.headImage}}>

      <div class="user">
        <p>{{self.name}}</p>
        <img src="/images/take_06.png">
        <span ng-show="messageList.length>0" ng-click="showMessage()">{{messageList.length}}</span>
      </div>
      <p class="out">退出</p>
    </div>
  </div>
  <div class="topNotice" ng-show="isShowMessage">
    <div class="topNoticeBox">
      <header>通知</header>
      <!--<p class="noNotice">当前没有新消息</p>-->
      <ul class="mainBox">
        <li class="oneNotice" ng-repeat="item in messageList">
          <p>{{item.desc}}</p>

          <p class="detailNotice">
            {{item.createTime}}
            {{item.fullDesc}}
          </p>

          <ul>
            <li ng-click="ignoreMessage(item)">忽略</li>
            <li><a ng-href="{{item.link}}">查看</a></li>
          </ul>
            <div style="clear: both"></div>
        </li>

      </ul>
    </div>
  </div>
</div>
<div class="main">
  <div class="left">
    <p class="list">看板列表</p>

    <div class="addBtn" ng-click="addBoard()">
        <!--<span>+</span><span>新建</span>-->
        <img src="/images/add_04.png">
    </div>
    <ul>
      <li ng-class="{'on':item.id==boardId}" ng-repeat="item in boardList" ng-click="changeBoard(item)">
        <p class="text">{{item.name}}</p>

        <p ng-if="item.auth==-1">（私密）</p>

        <p ng-if="item.auth==-0">（公开）</p>
      </li>
      <!--<li><p class="text">本周任务2</p><p>（公开）</p></li>-->
      <!--<li><p class="text">本周任务3</p><p>（公开）</p></li>-->
      <!--<li><p class="text">本周任务4</p><p>（公开）</p></li>-->
    </ul>
  </div>
  <div class="mid">
    <div class="midTop">
      <div class="addCard" ng-show="isNewCardShow" ng-click="addCard()">新建卡片</div>
      <div class="addCardInput" ng-show="isNewCardInputShow">
        <input placeholder="输入新建的卡片名称" ng-model="newCardName">

        <div class="cancelInputBtn" ng-click="cancelCard()">取消</div>
        <div class="setBtn" ng-click="saveCard()">创建</div>
      </div>
      <div class="set" ng-click="setBoard()">设置</div>
    </div>
    <div class="cardDetail">
      <ul class="cards">
        <li class="card" ng-repeat="card in cardList">
          <div class="cardTop">
            <span>{{card.name}}</span>
            <div>
              <img ng-click="editList(card)" src="/images/jianbo_03.png" style="display: block"></div>
            <div class="editList" ng-if="card.id==cardId && isListShow">
              <ul>
                <li ng-click="editCard(card)">修改卡片</li>
                <li ng-click="deleteCard(card)">删除卡片</li>
              </ul>
            </div>
          </div>
          <div class="listBox">
            <ul ng-drop="true" ng-drop-success="onDropCompleteCard($data,$event,card)">
              <li ng-drag="true" ng-drag-data="task" data-allow-transform="true" ng-repeat="task in card.taskList" ng-click="editTask(task,card)">
                <span ng-click="toggleTaskStatus(task,$event)" ng-class='{"done":isDoneTask(task),"checkBox":!isDoneTask(task)}'></span>

                <p ng-class='{"yes":isDoneTask(task)}'>{{task.title}}</p></li>
              <!--<li class="selected"><span class="checkBox"></span><p>kwkw</p></li>-->
              <p class="addTask" ng-click="addTask(card)" ng-show="card.id!=cardId || !isAddTaskShow">
                添加新任务</p>

              <div class="addBox" ng-if="card.id==cardId && isAddTaskShow">
                <textarea placeholder="请输入任务名称" ng-model="card.taskContent"></textarea>

                <div class="saveBtn" ng-click="saveTask(card)">保存</div>
                <div class="cancelBtn" ng-click="cancelTask()">取消</div>
              </div>
            </ul>
          </div>
        </li>

        <li class="card">
          <div class="listBox">
            <div class="addDetail" ng-click="addCard()" ng-show="isBtnShow">
              新建卡片
            </div>
            <div class="addTaskInput" ng-show="isAddCardShow">
              <input placeholder="插入新卡片名称" ng-model="newCardName">

              <div class="saveBtn" ng-click="saveCard()">保存</div>
              <div class="cancelBtn" ng-click="cancelCard()">取消</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--设置页面、新建看板***********-->
<div class="setUp" ng-show="isAddBoardShow">
  <div class="setBoard">
    <header>
      <p class="left">新建看板</p>

      <p class="right" ng-click="shutDown()">×</p>
    </header>
    <div class="boardName">看板名称<input placeholder="请输入看板名称" ng-model="boardName"></div>
    <div class="boardPerson">看板成员
      <div class="bkInput">
        <div ng-click="showAddBoardAuth()">
        <input readonly ng-model="addBoardAuth">
        <span></span>
        </div>
        <ul class="option" ng-show="isAddBoardAuthShow">
          <li ng-click="addBoardAuthPrivate()">仅自己可见（私人看板）</li>
          <li ng-click="addBoardAuthPublic()">所有人可见（公共看板）</li>
        </ul>
      </div>
    </div>
    <ul class="boardBtn">

      <li ng-click="saveBoard()">确定</li>
    </ul>
  </div>
</div>
<!--修改卡片-->
<div class="setUp" ng-show="isEditCardShow">
  <div class="setBoard">
    <header>
      <p class="left">修改卡片</p>

      <p class="right" ng-click="cancelCardEdit()">×</p>
    </header>
    <div class="boardName">卡片名称
      <input ng-model="cardName">
      <!--<input placeholder="请输入看板名称" ng-model="cardName">-->
    </div>

    <ul class="boardBtn">
      <li>删除</li>
      <li ng-click="saveCardEdit()">确定</li>
    </ul>
  </div>
</div>
<!--设置页面、新建看板*******-->
<div class="setUp" ng-show="isSetUpShow">
  <div class="setBoard">
    <header>
      <p class="left">看板设置</p>

      <p class="right" ng-click="shutDownSet()">×</p>
    </header>
    <div class="boardName">看板名称<input placeholder="请输入看板名称" ng-model="boardName1"></div>
    <div class="boardPerson">看板成员
      <div class="bkInput">
        <input readonly ng-model="authText"/>
        <span ng-click="option()"></span>
        <ul class="option" ng-show="isListShow">
          <li ng-click="changeAuth(-1)">仅自己可见（私人看板）</li>
          <li ng-click="changeAuth(0)">所有人可见（公共看板）</li>
        </ul>
      </div>
      <span>看板归档<img src="/images/no_03.png"> </span>
    </div>
    <ul class="boardBtn">
      <li ng-click="deleteBoard()">删除</li>
      <li ng-click="saveChange()">确定</li>
    </ul>
  </div>
</div>
<!--设置页面、新建看板-->
<div class="taskDetail" ng-show="isEditTaskShow">
  <div class="taskBox">
    <header>
      <p class="task">任务</p>
      <ul class="topUl">
        <li class="topLi">
          <div ng-click="showList1()">负责人<span class="click"></span></div>

          <div class="jiTou" ng-show="isfuzeListShow"></div>
          <div class="menu" ng-show="isfuzeListShow">
            <div class="menuTop">同事列表</div>
            <div class="person">
              <div class="person-top">
                <div ng-click="initOrg()">直属公司</div>
              </div>
              <ul class="listP">
                <ul ng-repeat="department in departments" ng-click="refreshDepartment(department)">

                  <div><span class="point">·</span>{{department.name}}</div>
                </ul>

                <div class="ulList"></div>
                <li ng-class="{'on':member.ownerOn}" ng-repeat="member in members" ng-click="owner(member)">
                  <p>{{member.name}}</p>

                  <p></p>
                </li>
              </ul>
            </div>
            <div class="menuBottom">
              <div>
                <!--<div>全选</div>-->
                <div ng-click="clearOwner()">清除</div>
              </div>
            </div>
          </div>
        </li>
        <li class="topLi">
          <div ng-click="showList2()">参与人<span class="click"></span></div>

          <div class="jiTou" ng-show="isCanyuShow"></div>
          <div class="menu" ng-show="isCanyuShow">
            <div class="menuTop">同事列表</div>
            <div class="person">
              <div class="person-top">
                <div ng-click="initOrg()">直属公司</div>
              </div>
              <ul class="listP">
                <ul ng-class="{'on':department.on}" ng-repeat="department in departments" ng-click="refreshDepartment(department)">
                  <p><span class="point">·</span>{{department.name}}</p>

                  <p ng-click="joinDep(department,$event)"></p>
                </ul>

                <div class="ulList"></div>
                <li ng-class="{'on':member.on}" ng-repeat="member in members" ng-click="join(member)">
                  <p>{{member.name}}</p>

                  <p></p>
                </li>
              </ul>
            </div>
            <div class="menuBottom">
              <div>
                <div ng-click="selectAll()">全选</div>
                <div ng-click="clearJoin()">清除</div>
              </div>
            </div>
          </div>
        </li>
        <li class="topLi"><div ng-click="showList3()">起止时间<span class="click"></span></div>

          <div class="timeJ" ng-show="isTimeShow"></div>
          <div class="timeBox" ng-show="isTimeShow">
            <div class="shadowBox">
              <div class="time-left">
                <p>开始时间</p>
                <input ng-model="startEndDay[0]" readonly placeholder="请选择开始时间" class="timetime">

                <p>结束时间</p>
                <input ng-model="startEndDay[1]" readonly placeholder="请选择结束时间" class="timetime">

                <div class="longTime">
                  <!--<span class="on"></span>-->
                  <!--<span>长期</span>-->
                </div>
                <div class="timeBtn">
                  <ul>
                    <li ng-click="showList3()">确定</li>
                    <li>取消</li>
                  </ul>
                </div>
              </div>
              <div class="time-right">
                <div class="date">
                  <div class="dateTop">
                    <span> < </span>
                    <div class="month">
                      <input readonly ng-click="showMonthList()" ng-model="currentMonthShow">
                      <div class="date-img"><img src="/images/xia_15.gif"></div>
                      <ul class="monthList" ng-show="isSelectMonthShow">
                        <li ng-click="selectMonth(month)" ng-repeat="month in monthList">{{month}}月</li>
                      </ul>
                    </div>
                    <div class="year">
                      <input readonly ng-click="showYearList()" ng-model="currentYear">
                      <div class="date-img"><img src="/images/xia_15.gif"></div>
                      <ul class="yearList" ng-show="isSelectYearShow">
                        <li ng-click="selectYear(year)" ng-repeat="year in yearList">{{year}}</li>
                      </ul>
                    </div>
                    <span> > </span>
                  </div>
                  <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                      <th>日</th><th>一</th><th>二</th><th>三</th><th>四</th><th>五</th><th>六</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="column in cal">
                      <td ng-repeat="day in column">
                        <div ng-if="isCurrentDate(day)" class="today" data-date="{{day}}" ng-click="changeDate(day)">
                          {{day.getDate()}}
                        </div>
                        <div ng-class='{"today":isSelectDay(day)}' ng-click="selectDay(day)">
                          {{day.getDate()}}
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="topLi" ng-click="deleteEditTask()">删除</li>
        <li class="topLi" ng-click="closeEditTask()">×</li>
      </ul>
    </header>
    <div class="run">
      <span ng-class='{"done":isDoneTask(currentTask)}' ng-click="toggleCurrentTaskStatus()"></span>

      <input ng-model="currentTask.title">
    </div>
    <textarea ng-model="currentTask.content" placeholder="添加任务描述"></textarea>

    <div class="time">负责人：<span>{{taskDetail.owner.name}}</span></div>
    <div class="time">起止时间：<span>{{taskDetail.task.startTime}}</span>至<span>{{taskDetail.task.endTime}}</span></div>
    <div class="time">参与人：<span ng-repeat="item in taskDetail.joinList">{{item.name}}</span></div>
    <div class="midNotice"><span>{{taskDetail.user.name}}</span>创建了一个任务<span>{{taskDetail.task.date}}</span></div>
    <div class="discuss">
      <div class="peopleInput">
        <img src={{self.headImage}}>
        <input ng-model="replyContent" placeholder="说点什么吧">
        <ul>
          <li ng-click="cancelReply()">取消</li>
          <li ng-click="submitReply()">提交</li>
        </ul>
      </div>
      <div class="discussContent" ng-repeat="reply in taskDetail.replyList">
        <img src={{reply.headImage}}>
        <div class="contentDetail">
          <div class="bk"></div>
          <p>{{reply.content}}</p>
          <div class="personName">
            <p>{{reply.name}}</p>
            <p>{{reply.createTime}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/common.js"></script>
<script src="/js/board.js"></script>
</body>
</html>