@charset "utf-8";
/* CSS Document */

.wd-dialog {
	position: absolute;
	width: 425px;
	height: 300px;
	top: 45%;
	left: 50%;
	margin-left: -210px;
	margin-top: -150px;
	background: #FFF;
	border: 2px solid #c2c2c2;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-ms-border-radius: 5px;
	border-radius: 5px;
		-webkit-box-shadow: 0 0 3px 1px #c2c2c2;
		-moz-box-shadow: 0 0 3px 1px #c2c2c2;
		-o-box-shadow: 0 0 3px 1px #c2c2c2;
	box-shadow: 0 0 3px 1px #c2c2c2;
}
.wd-dialog .header {
	position: relative;
	border-bottom: 1px solid #DDD;
}
.wd-dialog .header h1 {
	padding: 5px 0 0 30PX;
	line-height: 35px;
	font-size: 14px;
	color: #0A0A0A;
}
.wd-dialog .header span {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}
.wd-dialog .dialog-body {
	padding: 25px 40px;
}

.wd-dialog .dialog-body .container input[type="text"] {
	margin-top: 25px;
	margin-bottom: 0;
}
.wd-dialog .dialog-body .container input[type="text"]:first-child,
.wd-dialog .dialog-body .container input[type="text"].first-child {
	margin-top: 0;
}
.wd-dialog .dialog-body .container .acadd {
	margin-top: 0;
	display: block;
}
.wd-dialog .dialog-body .container .acadd .to-for-file {
	margin-top: 10px;
}
.wd-dialog .container .acadd input.inpost {
	margin-right: -40px;
}
.wd-dialog .container .pop-content .aft {
	padding-right: 0;
	width: 14px;
}