<!--*****************************创建日志-->
<div class="top2">
  <div class="topLeft"><a href="#myDiary"><img src="/images/ll_03.png"><span>返回</span></a></div>
  <div class="topRight"><span ng-click="addDiary()">发布</span></div>
  <span>创建日志</span>
</div>
<div class="mainBox2">
  <div class="title2"><input ng-model="diary.title" placeholder="请填写日志标题"></div>
  <div class="content2">
    <textarea ng-model="diary.content" placeholder="请填写日志详情"></textarea>
  </div>
  <div class="button">
    <!--<div class="buttonLeft"><img src="/images/tu_03.png"></div>-->
    <!--<div class="buttonRight">@</div>-->
  </div>
</div>
